<div>
    <h1>About page</h1>
    It is an program of flight simulator.<br />
    In This simulator is an air port how the planes come to there.<br />
    The planes move in the leg, the be enter in new leg and after enter in new leg leave the old leg<br />
    (becouse this may be on plane in 2 legs and in doble plane in flight to info of all plane mode.)<br />
    In the Airport was 8 legs AirWaiting1, AirWaiting2, AirWaiting3, LandingRoad,
    AccessAfterLanding, 2 Boarding and  AccessToDeparting. <br />
    You can view the legs in leg page. and set them emergency or stop emergency.
    You can view the planes in plane page. and set them emergency, but not stop emergency.
    The plane emergency stop when it enter to terminal. 
</div>
